@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

img,
.no-drag {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  color: #dd0101;
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-right: none;
  border-left: none;
}