@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

img,
.no-drag {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  color: #dd0101;
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-right: none;
  border-left: none;
}

@keyframes home {
  0% { margin-top: -25em }
  25% { margin-top: 0em }
  75% { margin-top: -6em }
  100% { margin-top: 0em }
}

@keyframes witch {
  0% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    left: 5vw;
    bottom: 15vh;
  }
  65% {
    transform: rotate(16deg);
  }
  100% {
    left: 62vw;
    bottom: 4vh;
    opacity: 0;
    transform: rotate(-7deg);
  }
}